---
layout: ""
page_title: "Provider: Meroxa"
description: |-
  The Meroxa provider provides resources to interact with the Meroxa platform API.
---

# Meroxa Provider

The Meroxa provider provides resources to interact with the Meroxa platform API.

Get `access_token` by logging into the Meroxa CLI with `meroxa login` and running `meroxa config --json`. The output will contain `access_token` within the `config` key.

Mac
```bash
meroxa config --json

{
	"path": "/Users/$USER/Library/Application Support/meroxa/config.env",
	"config": {
		"access_token": $ACCESS_TOKEN,
		...
	}
}
```

Linux
```bash
meroxa config --json

{
	"path": "~/meroxa/config.env ",
	"config": {
		"access_token": $ACCESS_TOKEN,
		...
	}
}
```

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
